@use "../../divers/variablesmixin/variables" as vars;
@use "../../divers/variablesmixin/mixins" as m;

.home {
  font-family: vars.$font-family;
  font-size: vars.$font-size-base;

  //** banner//
  &__banner {
    display: grid;
    grid-template-columns: 1fr 1fr; // Par défaut, 2 colonnes
    background-color: vars.$primary-color;
    width: 100%;

    @include m.mobile {
      grid-template-columns: 1fr; // Sur mobile, 1 colonne
      text-align: center;
    }
  }

  &__dev {
    width: 100%;
    object-fit: cover;
    max-width: 600px;
    margin: 0; // Conservez cette limite si vous le souhaitez

    @include m.tablet {
      max-width: none; // Supprimez la limite sur tablette
    }

    @include m.desktop {
      width: 50%; // Redéfinissez la largeur à 50% sur desktop (facultatif)
    }
  }

  &__banner-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    align-items: center;
    justify-content: center;

    @include m.mobile {
      width: 100%;
    }
  }

  &__nom {
    font-size: vars.$font-size-h2;
  }

  &__button {
    @include m.button-style;
    width: 30%;
    margin: 0 auto;

    @include m.mobile {
      width: 30%;
      margin-bottom: 20px;
    }
  }

  //** Présentation//

  &__presentation {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;

    &-titre {
      font-size: vars.$font-size-h2;
    }

    &-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      align-items: center;

      @include m.mobile {
        grid-template-columns: 1fr;
      }
    }

    .home__photo {
      width: 100%;
      object-fit: cover;
      margin: 0;
      border-radius: 50%;
      margin-bottom: 20px;

      @include m.tablet {
        max-width: none; // Supprimez la limite sur tablette
      }

      @include m.mobile {
        width: 100%;
      }
    }
    &-text {
      width: 90%;
      margin: 0 auto;
    }
  }

  //** competence

  &__competence {
    background-color: vars.$primary-color;
    margin-top: 30px;
    padding-top: 10px;

    &-titre {
      font-size: vars.$font-size-h2;
      margin-bottom: 40px;
      margin-top: 40px;
      display: flex;
      justify-content: center;
    }

    .competence__container {
      width: 100%;
      display: flex;
      flex-direction: column;

      th {
        font-size: vars.$font-size-h3;

        @include m.mobile {
          font-size: vars.$font-size-h3;
        }
      }

      td {
        text-align: center;
        vertical-align: middle;
      }

      img {
        width: 100px;
        max-width: 100px;

        @include m.mobile {
          width: 50%;
          height: 50%;
        }
      }
    }
  }

  // Projet//

  &__projet {
    text-align: center;

    &-titre {
      font-size: vars.$font-size-h2;
      margin-bottom: 40px;
      margin-top: 40px;
    }

    .projet__container {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .card-list {
      display: grid;
      grid-template-columns: 1fr 1fr; // Par défaut, 2 colonnes
      gap: 20px;
      margin-top: 20px;

      @include m.mobile {
        grid-template-columns: 1fr; // Sur mobile, 1 colonne
      }
    }
  }

  //formulaire de contact

  &__contact {
    text-align: center;
    background-color: vars.$primary-color;

    &-titre {
      font-size: vars.$font-size-h2;
      margin-bottom: 20px;
      padding-top: 30px;
    }
  }
}
