.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0 auto;
  gap: 30px;

  &__logoreseaux {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;

    img {
      width: 30px;
      padding-top: 10px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    color: #208368;
    font-size: larger;
  }

  &__monLogo {
    width: 150px;
    height: 150px;
  }
}
