header {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  gap: 30px;

  img {
    width: 3%;
    padding-top: 10px;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }

  .header__link {
    text-decoration: none;
    color: #208368;
    font-size: larger;
  }
}
