.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background: #8bceb6;
  position: sticky;
  top: 0;
  z-index: 100;

  &__nav {
    display: flex;
    align-items: center;
  }

  &__nav :hover {
    text-decoration: underline 5px;
    color: black;
  }

  &__link {
    text-decoration: none;
    color: #1d3b31;
    font-size: larger;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  &__monLogo {
    width: 100px;
    height: 100px;
  }
}

/* Ombre lorsque l'utilisateur scrolle vers le bas */
.header.scrolled {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
