.formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #d6f1e3;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 20px;
  }

  input {
    width: 30%;
    padding: 10px;
  }
}
