.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  height: 50px;

  &__nav {
    text-decoration: none;
    display: flex;
    gap: 57px;
  }
}
