.Section {
  &__Container {
    display: flex;
    gap: 60px;
    margin: 0 auto;
    justify-content: space-evenly;

    div {
      color: #1d3b31;
      font-size: 30px;
    }

    ul {
      transform: translate3d(-247.5%, 0px, 0px);
      transition-duration: 350ms;
    }

    li {
      color: black;
      font-size: medium;
    }
  }
}
